@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #e6e6ff;
  --font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--primary-color);
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: var(--font-family);
}
